@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #eee;
  }
}

body {
  font-size: 2rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

div {
  display: none;
  background: firebrick;
  width: 10em;
  height: 10em;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.51, -0.05, 0.27, 1.55);
}

div[data-open] {
  display: flex;
}

.transition-enter,
.transition-leave-active {
  transform: translateX(-100%);
  opacity: 0;
}

button {
  font: inherit;
  padding: 0.5em 1em;
}
